<?xml version="1.0"?>

<launch>

  <include file="$(find scout_gazebo)/launch/khnp.launch" />

  <include file="$(find scout_gazebo)/launch/spawn_scout.launch">
    <arg name="x" default="1.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="1.0"/>
    <arg name="yaw" default="0.0"/>
  </include>

</launch>
